.paginationbttns {

    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.paginationbttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

.paginationbttns a:hover {
    color: darkgray;

}
.paginationActive a{
    background-color: lightgray;
}

.datepicker {
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.sc-iBPTik htPyiA{
    width: 5px;
}

.demobtn {
   
    width: 20vw;
    height: 50px;
    padding: 10px;
    margin-top: -700px;
    margin-left: 650px;
    color: white;
    z-index:10;
    font-size: 20px;
    font-weight: bold;
}