.paginationbttns {

    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.paginationbttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

.paginationbttns a:hover {
    color: darkgray;

}
.paginationActive a{
    background-color: lightgray;
}

.datepicker {
    padding-bottom: 30px;
    margin-bottom: 40px;
}
